* {
    padding: 0;
    margin: 0;
    
    text-decoration: none;
    outline: none;
}
#loadScr{
    z-index: 99;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-image: url(./koroneLoadOld.png);
    background-size: cover;
}
canvas {
    left: 0%;
    background:lightblue; 
    display: block; 
    margin: 0 auto;
    z-index: 10;
}
#canvas1 {
    left: 0%;
    background:lightblue; 
    display: block; 
    margin: 0 auto;
    z-index: 10;
}
#canvas2 {
    right: 0%;
    background:rgb(173, 204, 230); 
    display: block; 
    margin: 0 auto;
    z-index: 10;
}